<h1>Listing businesses</h1>

<table>
  <tr>
    <th>Fedexcontract</th>
    <th>Name</th>
    <th>Taxidnumber</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Country</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @businesses.each do |business| %>
  <tr>
    <td><%= business.fedexContract %></td>
    <td><%= business.name %></td>
    <td><%= business.taxIDNumber %></td>
    <td><%= business.address %></td>
    <td><%= business.city %></td>
    <td><%= business.state %></td>
    <td><%= business.zip %></td>
    <td><%= business.country %></td>
    <td><%= link_to 'Show', business %></td>
    <td><%= link_to 'Edit', edit_business_path(business) %></td>
    <td><%= link_to 'Destroy', business, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Business', new_business_path %>
