<h1>Listing daily_data_vehicles</h1>

<table>
  <tr>
    <th>Vehicle</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @daily_data_vehicles.each do |daily_data_vehicle| %>
  <tr>
    <td><%= daily_data_vehicle.vehicle %></td>
    <td><%= link_to 'Show', daily_data_vehicle %></td>
    <td><%= link_to 'Edit', edit_daily_data_vehicle_path(daily_data_vehicle) %></td>
    <td><%= link_to 'Destroy', daily_data_vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Daily data vehicle', new_daily_data_vehicle_path %>
