<%= form_for(@psazip) do |f| %>
  <% if @psazip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@psazip.errors.count, "error") %> prohibited this psazip from being saved:</h2>

      <ul>
      <% @psazip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :psa %><br />
    <%= f.text_field :psa %>
  </div>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
