<h1>Listing psazips</h1>

<table>
  <tr>
    <th>Psa</th>
    <th>Zip</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @psazips.each do |psazip| %>
  <tr>
    <td><%= psazip.psa %></td>
    <td><%= psazip.zip %></td>
    <td><%= link_to 'Show', psazip %></td>
    <td><%= link_to 'Edit', edit_psazip_path(psazip) %></td>
    <td><%= link_to 'Destroy', psazip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Psazip', new_psazip_path %>
