<p id="notice"><%= notice %></p>

<p>
  <b>Psa:</b>
  <%= @psazip.psa %>
</p>

<p>
  <b>Zip:</b>
  <%= @psazip.zip %>
</p>


<%= link_to 'Edit', edit_psazip_path(@psazip) %> |
<%= link_to 'Back', psazips_path %>
