<%= form_for(@daily_data_delivery_exception) do |f| %>
  <% if @daily_data_delivery_exception.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daily_data_delivery_exception.errors.count, "error") %> prohibited this daily_data_delivery_exception from being saved:</h2>

      <ul>
      <% @daily_data_delivery_exception.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :startDate %><br />
    <%= f.datetime_select :startDate %>
  </div>
  <div class="field">
    <%= f.label :endDate %><br />
    <%= f.datetime_select :endDate %>
  </div>
  <div class="field">
    <%= f.label :dailyData %><br />
    <%= f.text_field :dailyData %>
  </div>
  <div class="field">
    <%= f.label :deliveryException %><br />
    <%= f.text_field :deliveryException %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
