<h1>Listing employees</h1>

<table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Fedexnumber</th>
    <th>Contractornumber</th>
    <th>Hiredate</th>
    <th>Dateofbirth</th>
    <th>Activeboolean</th>
    <th>Startdate</th>
    <th>Enddate</th>
    <th>Terminationdate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td><%= employee.firstName %></td>
    <td><%= employee.lastName %></td>
    <td><%= employee.fedexNumber %></td>
    <td><%= employee.contractorNumber %></td>
    <td><%= employee.hireDate %></td>
    <td><%= employee.dateOfBirth %></td>
    <td><%= employee.activeBoolean %></td>
    <td><%= employee.startDate %></td>
    <td><%= employee.endDate %></td>
    <td><%= employee.terminationDate %></td>
    <td><%= link_to 'Show', employee %></td>
    <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
    <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employee', new_employee_path %>
