<%= form_for(@daily_datum) do |f| %>
  <% if @daily_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daily_datum.errors.count, "error") %> prohibited this daily_datum from being saved:</h2>

      <ul>
      <% @daily_datum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :deliveryStop %><br />
    <%= f.number_field :deliveryStop %>
  </div>
  <div class="field">
    <%= f.label :deliveryPackage %><br />
    <%= f.number_field :deliveryPackage %>
  </div>
  <div class="field">
    <%= f.label :pickupStop %><br />
    <%= f.number_field :pickupStop %>
  </div>
  <div class="field">
    <%= f.label :pickupPackage %><br />
    <%= f.number_field :pickupPackage %>
  </div>
  <div class="field">
    <%= f.label :calltag %><br />
    <%= f.number_field :calltag %>
  </div>
  <div class="field">
    <%= f.label :didNotAttempt %><br />
    <%= f.number_field :didNotAttempt %>
  </div>
  <div class="field">
    <%= f.label :inboundLocalService %><br />
    <%= f.text_field :inboundLocalService %>
  </div>
  <div class="field">
    <%= f.label :earlyPickUp %><br />
    <%= f.number_field :earlyPickUp %>
  </div>
  <div class="field">
    <%= f.label :latePickUp %><br />
    <%= f.number_field :latePickUp %>
  </div>
  <div class="field">
    <%= f.label :startTime %><br />
    <%= f.datetime_select :startTime %>
  </div>
  <div class="field">
    <%= f.label :endTime %><br />
    <%= f.datetime_select :endTime %>
  </div>
  <div class="field">
    <%= f.label :vehicle %><br />
    <%= f.text_field :vehicle %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
