<h1>Listing daily_data</h1>

<table>
  <tr>
    <th>Deliverystop</th>
    <th>Deliverypackage</th>
    <th>Pickupstop</th>
    <th>Pickuppackage</th>
    <th>Calltag</th>
    <th>Didnotattempt</th>
    <th>Inboundlocalservice</th>
    <th>Earlypickup</th>
    <th>Latepickup</th>
    <th>Starttime</th>
    <th>Endtime</th>
    <th>Vehicle</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @daily_data.each do |daily_datum| %>
  <tr>
    <td><%= daily_datum.deliveryStop %></td>
    <td><%= daily_datum.deliveryPackage %></td>
    <td><%= daily_datum.pickupStop %></td>
    <td><%= daily_datum.pickupPackage %></td>
    <td><%= daily_datum.calltag %></td>
    <td><%= daily_datum.didNotAttempt %></td>
    <td><%= daily_datum.inboundLocalService %></td>
    <td><%= daily_datum.earlyPickUp %></td>
    <td><%= daily_datum.latePickUp %></td>
    <td><%= daily_datum.startTime %></td>
    <td><%= daily_datum.endTime %></td>
    <td><%= daily_datum.vehicle %></td>
    <td><%= link_to 'Show', daily_datum %></td>
    <td><%= link_to 'Edit', edit_daily_datum_path(daily_datum) %></td>
    <td><%= link_to 'Destroy', daily_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Daily datum', new_daily_datum_path %>
