<h1>Listing vehicle_odometers</h1>

<table>
  <tr>
    <th>Odometerreading</th>
    <th>Startdate</th>
    <th>Enddate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vehicle_odometers.each do |vehicle_odometer| %>
  <tr>
    <td><%= vehicle_odometer.odometerReading %></td>
    <td><%= vehicle_odometer.startDate %></td>
    <td><%= vehicle_odometer.endDate %></td>
    <td><%= link_to 'Show', vehicle_odometer %></td>
    <td><%= link_to 'Edit', edit_vehicle_odometer_path(vehicle_odometer) %></td>
    <td><%= link_to 'Destroy', vehicle_odometer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vehicle odometer', new_vehicle_odometer_path %>
