<p id="notice"><%= notice %></p>

<p>
  <b>Odometerreading:</b>
  <%= @vehicle_odometer.odometerReading %>
</p>

<p>
  <b>Startdate:</b>
  <%= @vehicle_odometer.startDate %>
</p>

<p>
  <b>Enddate:</b>
  <%= @vehicle_odometer.endDate %>
</p>


<%= link_to 'Edit', edit_vehicle_odometer_path(@vehicle_odometer) %> |
<%= link_to 'Back', vehicle_odometers_path %>
