<p id="notice"><%= notice %></p>

<p>
  <b>Fedexcontractname:</b>
  <%= @fedex_contract.fedexContractName %>
</p>

<p>
  <b>Fedexcontractnumber:</b>
  <%= @fedex_contract.fedexContractNumber %>
</p>

<p>
  <b>Contractorcontractname:</b>
  <%= @fedex_contract.contractorContractName %>
</p>

<p>
  <b>Contractorcontractnumber:</b>
  <%= @fedex_contract.contractorContractNumber %>
</p>

<p>
  <b>Content:</b>
  <%= @fedex_contract.content %>
</p>

<p>
  <b>Startdate:</b>
  <%= @fedex_contract.startDate %>
</p>

<p>
  <b>Enddate:</b>
  <%= @fedex_contract.endDate %>
</p>

<!-- Businesses -->
 <!-- <p> -->
  <!-- <b>Enddate:</b> -->
<!-- </p> -->

<p>
  <b>DeliveryStopPay:</b>
  <%= @fedex_contract.deliveryStopPay %>
</p>

<p>
  <b>DeliveryPackagePay:</b>
  <%= @fedex_contract.deliveryPackagePay %>
</p>

<p>
  <b>PickupStopPay:</b>
  <%= @fedex_contract.pickupStopPay %>
</p>

<p>
  <b>PickupPackagePay:</b>
  <%= @fedex_contract.pickupPackagePay %>
</p>

<p>
  <b>CoreZoneSupplementalPay:</b>
  <%= @fedex_contract.coreZoneSupplementalPay %>
</p>

<p>
  <b>VehicleAvailabilityPay:</b>
  <%= @fedex_contract.vehicleAvailabilityPay %>
</p>

<p>
  <b>FuelSupplementPay:</b>
  <%= @fedex_contract.fuelSupplementPay %>
</p>

<p>
  <b>ToolRentalCost:</b>
  <%= @fedex_contract.toolRentalCost %>
</p>

<p>
  <b>InternationalPackagePay:</b>
  <%= @fedex_contract.internationalPackagePay %>
</p>

<p>
  <b>HazardousPackagePay:</b>
  <%= @fedex_contract.hazardousPackagePay %>
</p>

<p>
  <b>VacationProgramCost:</b>
  <%= @fedex_contract.vacationProgramCost %>
</p>

<p>
  <b>HazardousPackagePay:</b>
  <%= @fedex_contract.hazardousPackagePay %>
</p>

<p>
  <b>UniformCost:</b>
  <%= @fedex_contract.uniformCost %>
</p>

<%= link_to 'Edit', edit_fedex_contract_path(@fedex_contract) %> |
<%= link_to 'Back', fedex_contracts_path %>
