<p id="notice"><%= notice %></p>

<p>
  <b>Fedexpsaname:</b>
  <%= @psa.fedexPSAName %>
</p>

<p>
  <b>Fedexpsanumber:</b>
  <%= @psa.fedexPSANumber %>
</p>

<p>
  <b>Contractorpsaname:</b>
  <%= @psa.contractorPSAName %>
</p>

<p>
  <b>Contractorpsanumber:</b>
  <%= @psa.contractorPSANumber %>
</p>

<p>
  <b>Activeboolean:</b>
  <%= @psa.activeBoolean %>
</p>

<p>
  <b>Startdate:</b>
  <%= @psa.startDate %>
</p>

<p>
  <b>Enddate:</b>
  <%= @psa.endDate %>
</p>


<%= link_to 'Edit', edit_psa_path(@psa) %> |
<%= link_to 'Back', psas_path %>
