<p id="notice"><%= notice %></p>

<p>
  <b>Exceptiontype:</b>
  <%= @delivery_exception.exceptionType %>
</p>

<p>
  <b>Exceptiondescription:</b>
  <%= @delivery_exception.exceptionDescription %>
</p>


<%= link_to 'Edit', edit_delivery_exception_path(@delivery_exception) %> |
<%= link_to 'Back', delivery_exceptions_path %>
