<p id="notice"><%= notice %></p>

<p>
  <b>Frequencyinterval:</b>
  <%= @frequency.frequencyInterval %>
</p>

<p>
  <b>Startdate:</b>
  <%= @frequency.startDate %>
</p>

<p>
  <b>Enddate:</b>
  <%= @frequency.endDate %>
</p>


<%= link_to 'Edit', edit_frequency_path(@frequency) %> |
<%= link_to 'Back', frequencies_path %>
