<h1>Listing production_pays</h1>

<table>
  <tr>
    <th>Delivery package pay</th>
    <th>Delivery stop pay</th>
    <th>Pickup package pay</th>
    <th>Pickup stop pay</th>
    <th>Hourly pay</th>
    <th>Task pay</th>
    <th>Incident dock pay</th>
    <th>Startdate</th>
    <th>Enddate</th>
    <th>Activeboolean</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @production_pays.each do |production_pay| %>
  <tr>
    <td><%= production_pay.delivery_package_pay %></td>
    <td><%= production_pay.delivery_stop_pay %></td>
    <td><%= production_pay.pickup_package_pay %></td>
    <td><%= production_pay.pickup_stop_pay %></td>
    <td><%= production_pay.hourly_pay %></td>
    <td><%= production_pay.task_pay %></td>
    <td><%= production_pay.incident_dock_pay %></td>
    <td><%= production_pay.startDate %></td>
    <td><%= production_pay.endDate %></td>
    <td><%= production_pay.activeBoolean %></td>
    <td><%= link_to 'Show', production_pay %></td>
    <td><%= link_to 'Edit', edit_production_pay_path(production_pay) %></td>
    <td><%= link_to 'Destroy', production_pay, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Production pay', new_production_pay_path %>
