<h1>Listing employee_pays</h1>

<table>
  <tr>
    <th>Employee</th>
    <th>Startdate</th>
    <th>Enddate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employee_pays.each do |employee_pay| %>
  <tr>
    <td><%= employee_pay.employee %></td>
    <td><%= employee_pay.startDate %></td>
    <td><%= employee_pay.endDate %></td>
    <td><%= link_to 'Show', employee_pay %></td>
    <td><%= link_to 'Edit', edit_employee_pay_path(employee_pay) %></td>
    <td><%= link_to 'Destroy', employee_pay, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employee pay', new_employee_pay_path %>
