<p id="notice"><%= notice %></p>

<p>
  <b>Startdate:</b>
  <%= @employee_psa.startDate %>
</p>

<p>
  <b>Enddate:</b>
  <%= @employee_psa.endDate %>
</p>

<p>
  <b>Activeboolean:</b>
  <%= @employee_psa.activeBoolean %>
</p>

<p>
  <b>Employee:</b>
  <%= @employee_psa.employee %>
</p>

<p>
  <b>Psa:</b>
  <%= @employee_psa.psa %>
</p>


<%= link_to 'Edit', edit_employee_psa_path(@employee_psa) %> |
<%= link_to 'Back', employee_psas_path %>
