<%= form_for(@employee_terminal) do |f| %>
  <% if @employee_terminal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee_terminal.errors.count, "error") %> prohibited this employee_terminal from being saved:</h2>

      <ul>
      <% @employee_terminal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :startDate %><br />
    <%= f.datetime_select :startDate %>
  </div>
  <div class="field">
    <%= f.label :endDate %><br />
    <%= f.datetime_select :endDate %>
  </div>
  <div class="field">
    <%= f.label :activeBoolean %><br />
    <%= f.check_box :activeBoolean %>
  </div>
  <div class="field">
    <%= f.label :employee %><br />
    <%= f.text_field :employee %>
  </div>
  <div class="field">
    <%= f.label :terminal %><br />
    <%= f.text_field :terminal %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
