<%= form_for(@production_pay) do |f| %>
  <% if @production_pay.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@production_pay.errors.count, "error") %> prohibited this production_pay from being saved:</h2>

      <ul>
      <% @production_pay.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :delivery_package_pay %><br />
    <%= f.text_field :delivery_package_pay %>
  </div>
  <div class="field">
    <%= f.label :delivery_stop_pay %><br />
    <%= f.text_field :delivery_stop_pay %>
  </div>
  <div class="field">
    <%= f.label :pickup_package_pay %><br />
    <%= f.text_field :pickup_package_pay %>
  </div>
  <div class="field">
    <%= f.label :pickup_stop_pay %><br />
    <%= f.text_field :pickup_stop_pay %>
  </div>
  <div class="field">
    <%= f.label :hourly_pay %><br />
    <%= f.text_field :hourly_pay %>
  </div>
  <div class="field">
    <%= f.label :task_pay %><br />
    <%= f.text_field :task_pay %>
  </div>
  <div class="field">
    <%= f.label :incident_dock_pay %><br />
    <%= f.text_field :incident_dock_pay %>
  </div>
  <div class="field">
    <%= f.label :startDate %><br />
    <%= f.datetime_select :startDate %>
  </div>
  <div class="field">
    <%= f.label :endDate %><br />
    <%= f.datetime_select :endDate %>
  </div>
  <div class="field">
    <%= f.label :activeBoolean %><br />
    <%= f.check_box :activeBoolean %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
