<h1>Listing pay_profiles</h1>

<table>
  <tr>
    <th>Profilename</th>
    <th>Employee</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pay_profiles.each do |pay_profile| %>
  <tr>
    <td><%= pay_profile.profileName %></td>
    <td><%= pay_profile.employee %></td>
    <td><%= link_to 'Show', pay_profile %></td>
    <td><%= link_to 'Edit', edit_pay_profile_path(pay_profile) %></td>
    <td><%= link_to 'Destroy', pay_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pay profile', new_pay_profile_path %>
