<h1>Listing terminals</h1>

<table>
  <tr>
    <th>Fedexterminalname</th>
    <th>Fedexterminalnumber</th>
    <th>Contractorterminalname</th>
    <th>Contractorterminalnumber</th>
    <th>Colocationboolean</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @terminals.each do |terminal| %>
  <tr>
    <td><%= terminal.fedexTerminalName %></td>
    <td><%= terminal.fedexTerminalNumber %></td>
    <td><%= terminal.contractorTerminalName %></td>
    <td><%= terminal.contractorTerminalNumber %></td>
    <td><%= terminal.colocationBoolean %></td>
    <td><%= link_to 'Show', terminal %></td>
    <td><%= link_to 'Edit', edit_terminal_path(terminal) %></td>
    <td><%= link_to 'Destroy', terminal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Terminal', new_terminal_path %>
