<p id="notice"><%= notice %></p>

<p>
  <b>Fedexterminalname:</b>
  <%= @terminal.fedexTerminalName %>
</p>

<p>
  <b>Fedexterminalnumber:</b>
  <%= @terminal.fedexTerminalNumber %>
</p>

<p>
  <b>Contractorterminalname:</b>
  <%= @terminal.contractorTerminalName %>
</p>

<p>
  <b>Contractorterminalnumber:</b>
  <%= @terminal.contractorTerminalNumber %>
</p>

<p>
  <b>Colocationboolean:</b>
  <%= @terminal.colocationBoolean %>
</p>


<%= link_to 'Edit', edit_terminal_path(@terminal) %> |
<%= link_to 'Back', terminals_path %>
