<p id="notice"><%= notice %></p>

<p>
  <b>Fedexaddendumname:</b>
  <%= @addendum.fedexAddendumName %>
</p>

<p>
  <b>Fedexaddendumnumber:</b>
  <%= @addendum.fedexAddendumNumber %>
</p>

<p>
  <b>Fedexcontractoraddendumname:</b>
  <%= @addendum.fedexContractorAddendumName %>
</p>

<p>
  <b>Fedexcontractoraddendumnumber:</b>
  <%= @addendum.fedexContractorAddendumNumber %>
</p>

<p>
  <b>Content:</b>
  <%= @addendum.content %>
</p>

<p>
  <b>Startdate:</b>
  <%= @addendum.startDate %>
</p>

<p>
  <b>Enddate:</b>
  <%= @addendum.endDate %>
</p>


<%= link_to 'Edit', edit_addendum_path(@addendum) %> |
<%= link_to 'Back', addendums_path %>
