<p id="notice"><%= notice %></p>

<p>
  <b>Psa:</b>
  <%= @psa_state.psa %>
</p>

<p>
  <b>State:</b>
  <%= @psa_state.state %>
</p>


<%= link_to 'Edit', edit_psa_state_path(@psa_state) %> |
<%= link_to 'Back', psa_states_path %>
