<h1>Listing psas</h1>

<table>
  <tr>
    <th>Fedexpsaname</th>
    <th>Fedexpsanumber</th>
    <th>Contractorpsaname</th>
    <th>Contractorpsanumber</th>
    <th>Activeboolean</th>
    <th>Startdate</th>
    <th>Enddate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @psas.each do |psa| %>
  <tr>
    <td><%= psa.fedexPSAName %></td>
    <td><%= psa.fedexPSANumber %></td>
    <td><%= psa.contractorPSAName %></td>
    <td><%= psa.contractorPSANumber %></td>
    <td><%= psa.activeBoolean %></td>
    <td><%= psa.startDate %></td>
    <td><%= psa.endDate %></td>
    <td><%= link_to 'Show', psa %></td>
    <td><%= link_to 'Edit', edit_psa_path(psa) %></td>
    <td><%= link_to 'Destroy', psa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Psa', new_psa_path %>
