<p id="notice"><%= notice %></p>

<p>
  <b>Employee:</b>
  <%= @daily_data_employee.employee %>
</p>

<p>
  <b>Dailydata:</b>
  <%= @daily_data_employee.dailyData %>
</p>


<%= link_to 'Edit', edit_daily_data_employee_path(@daily_data_employee) %> |
<%= link_to 'Back', daily_data_employees_path %>
