<%= form_for(@region) do |f| %>
  <% if @region.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@region.errors.count, "error") %> prohibited this region from being saved:</h2>

      <ul>
      <% @region.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fedexRegionName %><br />
    <%= f.text_field :fedexRegionName %>
  </div>
  <div class="field">
    <%= f.label :fedexRegionNumber %><br />
    <%= f.number_field :fedexRegionNumber %>
  </div>
  <div class="field">
    <%= f.label :fedexRegionPhone %><br />
    <%= f.text_field :fedexRegionPhone %>
  </div>
  <div class="field">
    <%= f.label :contractorRegionName %><br />
    <%= f.text_field :contractorRegionName %>
  </div>
  <div class="field">
    <%= f.label :contractorRegionNumber %><br />
    <%= f.number_field :contractorRegionNumber %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
