<p id="notice"><%= notice %></p>

<p>
  <b>Fedexregionname:</b>
  <%= @region.fedexRegionName %>
</p>

<p>
  <b>Fedexregionnumber:</b>
  <%= @region.fedexRegionNumber %>
</p>

<p>
  <b>Fedexregionphone:</b>
  <%= @region.fedexRegionPhone %>
</p>

<p>
  <b>Contractorregionname:</b>
  <%= @region.contractorRegionName %>
</p>

<p>
  <b>Contractorregionnumber:</b>
  <%= @region.contractorRegionNumber %>
</p>


<%= link_to 'Edit', edit_region_path(@region) %> |
<%= link_to 'Back', regions_path %>
