<h1>Listing delivery_exceptions</h1>

<table>
  <tr>
    <th>Exceptiontype</th>
    <th>Exceptiondescription</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @delivery_exceptions.each do |delivery_exception| %>
  <tr>
    <td><%= delivery_exception.exceptionType %></td>
    <td><%= delivery_exception.exceptionDescription %></td>
    <td><%= link_to 'Show', delivery_exception %></td>
    <td><%= link_to 'Edit', edit_delivery_exception_path(delivery_exception) %></td>
    <td><%= link_to 'Destroy', delivery_exception, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Delivery exception', new_delivery_exception_path %>
