<h1>Listing flat_pays</h1>

<table>
  <tr>
    <th>Payamount</th>
    <th>Startdate</th>
    <th>Endtime</th>
    <th>Activeboolean</th>
    <th>Frequency</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @flat_pays.each do |flat_pay| %>
  <tr>
    <td><%= flat_pay.payAmount %></td>
    <td><%= flat_pay.startDate %></td>
    <td><%= flat_pay.endTime %></td>
    <td><%= flat_pay.activeBoolean %></td>
    <td><%= flat_pay.frequency %></td>
    <td><%= link_to 'Show', flat_pay %></td>
    <td><%= link_to 'Edit', edit_flat_pay_path(flat_pay) %></td>
    <td><%= link_to 'Destroy', flat_pay, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Flat pay', new_flat_pay_path %>
