<h1>Listing addendums</h1>

<table>
  <tr>
    <th>Fedexaddendumname</th>
    <th>Fedexaddendumnumber</th>
    <th>Fedexcontractoraddendumname</th>
    <th>Fedexcontractoraddendumnumber</th>
    <th>Content</th>
    <th>Startdate</th>
    <th>Enddate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @addendums.each do |addendum| %>
  <tr>
    <td><%= addendum.fedexAddendumName %></td>
    <td><%= addendum.fedexAddendumNumber %></td>
    <td><%= addendum.fedexContractorAddendumName %></td>
    <td><%= addendum.fedexContractorAddendumNumber %></td>
    <td><%= addendum.content %></td>
    <td><%= addendum.startDate %></td>
    <td><%= addendum.endDate %></td>
    <td><%= link_to 'Show', addendum %></td>
    <td><%= link_to 'Edit', edit_addendum_path(addendum) %></td>
    <td><%= link_to 'Destroy', addendum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Addendum', new_addendum_path %>
