<h1>Listing daily_data_employees</h1>

<table>
  <tr>
    <th>Employee</th>
    <th>Dailydata</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @daily_data_employees.each do |daily_data_employee| %>
  <tr>
    <td><%= daily_data_employee.employee %></td>
    <td><%= daily_data_employee.dailyData %></td>
    <td><%= link_to 'Show', daily_data_employee %></td>
    <td><%= link_to 'Edit', edit_daily_data_employee_path(daily_data_employee) %></td>
    <td><%= link_to 'Destroy', daily_data_employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Daily data employee', new_daily_data_employee_path %>
