<div class="nav pull-left">
  <%= link_to "FDXCM", root_path, :class => 'brand' %>
</div>
<div class="nav info">
  <% if user_signed_in? %>
    <div><%= 'User: ' + current_user.employee.firstName + ' ' + current_user.employee.lastName + " | " %>
    <%= 'Business: ' + current_user.employee.business.name + " | " %>
    <%= 'Role: ' + current_user.thisUsersUserRole %></div>
  <% else %>
    <div></div>
  <% end %>
</div>
<div class="pull-right">
  <ul class="nav">
    <% if user_signed_in? %>
      <li>
      <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>        
      </li>
    <% else %>
      <li>
      <%= link_to('Login', new_user_session_path)  %>  
      </li>
    <% end %>
    <% if user_signed_in? %>
      <li>
      <%= link_to('Edit account', edit_user_registration_path) %>
      </li>
      <% if current_user.has_role? :admin %>
        <li>
        <%= link_to('Admin', users_path) %>
        </li>
      <% end %>
    <% else %>
      <li>
      <%= link_to('Sign up', new_user_registration_path)  %>
      </li>
    <% end %>
  </ul>
</div>