<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>

<ul class="nav nav-list">
  <li class="active"><a href="#">Home</a></li>
  <li class="nav-header">News</li>
  <li><%= link_to 'Root', root_path %></li>
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'whatever', root_path %></li>
  <li class="nav-header">2</li>
  <li><%= link_to '2.a', root_path %></li>
  <li><%= link_to '2.b', root_path %></li>
  <li class="nav-header">3</li>
  <li><%= link_to '3.a', root_path %></li>
</ul>