<p id="notice"><%= notice %></p>

<p>
  <b>Fedexcontractname:</b>
  <%= @fedex_contract.fedexContractName %>
</p>

<p>
  <b>Fedexcontractnumber:</b>
  <%= @fedex_contract.fedexContractNumber %>
</p>

<p>
  <b>Contractorcontractname:</b>
  <%= @fedex_contract.contractorContractName %>
</p>

<p>
  <b>Contractorcontractnumber:</b>
  <%= @fedex_contract.contractorContractNumber %>
</p>

<p>
  <b>Content:</b>
  <%= @fedex_contract.content %>
</p>

<p>
  <b>Startdate:</b>
  <%= @fedex_contract.startDate %>
</p>

<p>
  <b>Enddate:</b>
  <%= @fedex_contract.endDate %>
</p>


<%= link_to 'Edit', edit_fedex_contract_path(@fedex_contract) %> |
<%= link_to 'Back', fedex_contracts_path %>
